<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.myproject_2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.android.myproject_2.MainActivity"
            android:label="MyProject_2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.android.myproject_2.DetailMovieActivity"
            android:label="@string/title_activity_detailmovie"
            android:parentActivityName="com.example.android.myproject_2.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.myproject_2.MainActivity" />
        </activity>
        <activity
            android:name="com.example.android.myproject_2.SettingsActivity"
            android:label="Settings"
            android:parentActivityName="com.example.android.myproject_2.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.myproject_2.MainActivity" />
        </activity>

        <!-- Step-3b -->
        <provider
            android:authorities="com.example.android.myproject_2"
            android:name=".data.MovieProvider"/>
    </application>

</manifest>
